
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@400;500;700&family=Source+Serif+Pro:wght@600&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Serif Pro', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* header-section-start-here */

.header-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header-section .logo h1{
    margin-left: 250px;
    font-size: 40px;
    font-family: sans-serif;
    color: rgb(26, 27, 27);
    font-weight: 700;
    transition: .3s;
}

.header-section .logo h1:hover{
    color: chocolate;
}
.header-section .navbar{
    display: flex;
    margin-right: 100px;
    margin-top: 10px;
}

.header-section .navbar li{
    list-style: none;
}

.header-section .navbar li a{
    text-decoration: none;
    margin-right: 70px;
    font-size: 20px;
    font-family:'Montserrat' ;
    color: rgb(58, 58, 58);
    font-weight: 600;
    transition: .3s;
}


.header-section .navbar li a:hover{
    color: chocolate;
}

.mobile{
    display: none;
}
#close{
    display: none;
}


/* header-section-end-here */

/* banner-section-start-here */
.banner-section{
      margin-top: 100px;
}
.banner-heading{
    text-align: center;
}

.banner-heading h1{
    font-size: 45px;
    font-family:sans-serif;
    font-weight: 600;
    color: rgb(30 28 28);
    margin-bottom: 15px;
}
.banner-heading p{
    font-size: 20px;
    margin-bottom: 30px;
}

.btn{
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    background-color: #ff9b22;
    color: #fff;
    transition: .3s;
    cursor:pointer;
}

.btn:hover{
    background-color: #ffc13b;
}
.banner-img {
    margin-top: 50px;
}

/* banner-section-end-here */


/* team-banner-section-start-here */

.team-banner-section{
    display: flex;    
}

.team-banner-section .team-banner-text{
    margin: 200px 0 0 150px;  
}

.team-banner-img{
    margin-left: 230px;
     
}
 .team-banner-img img{
    margin: 15px;
 }

 .team-banner-text h1{
    font-size: 55px;
 }

.team-banner-text h1 .span1{
    color: #afafaf;
}

.team-banner-text h1 .span2{
    color: #ff9b22;
}

.team-banner-text p{
    font-size: 18;
    color: #2b2a2a;
    margin : 30px 0;
}
/* team-banner-section-end-here */

/* Features-section-start-here */
.feature-section{
    display: flex;
    margin : 130px;
}

.feature-text{
    margin-left: 70px;
    margin-top: 50px;
}  

.feature-text .vr{
    width: 115px;
    height: 6px;
    border-radius: 5px;
     transform: rotate(90deg);
     background-color: #ff9b22;
}

.feature-text h1 {
    margin-top: -59px;
    margin-left: 100px;
    font-size: 45px;
    font-family: 'Montserrat';
}

.feature-text p{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 18px;
    font-family: sans-serif;
}

.exp-text  {
    margin: 30px;
}

.exp-text .text-div h2{
    font-size: 30px;
    margin-left: 48px;
    margin-top: 30px;
}

.exp-text .text-div p{
    margin-top: 15px;
    font-size: 20px;
    font-family: auto;
    color: #6e6e6e;
}

.feature-section .experience{
    position: relative;
    background-color: #f39a16;
    padding: 35px;
    height: 150px;
    border-radius: 8px;
    top: 375px;
    left: 20px;
    color: #fff;
    text-align: center;
}
     
 .experience h1{
    font-size: 35px;
}
/* Features-section-end-here */


 /* facr-section-start-here */
 .fact-section .fact-1{
    margin:40px 0 40px 130px;
 }

 .fact-section .fact-1 h1{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
 }

 .fact-section .fact-1 p{
    font-size: 20px;
    font-family: auto;
    color: #6e6e6e;
 }
 .fact-section .fact-2{
    display: flex;
    justify-content:space-around;
    margin: 20px 0 20px 140px;
    position: relative;
 }


 .fact-section .fact-2 .div{
    padding: 40px;
    border: 1px solid #f39a16;
    border-radius: 8px;
    text-align: center;
    transition: 2s;
   
 }

 .fact-section .fact-2 .div i{
    font-size: 40px;
    color: #f39a16;
 }

 .fact-2 .div:hover{
    transform: rotate(360deg);
    background-color: #ffda8a;
 }


 /* facr-section-end-here */


 /* sponsor-part-start-here */

 .sponsor-section{
    text-align: center;
 }

 .sponsor-section .sponsor-text{
    margin: 30px 0;
 }

 .sponsor-section .sponsor-text h1{
    font-size: 40px;
    font-family:  'Montserrat', sans-serif;
    color: #2a2929;
    padding-bottom: 15px;
    margin-top: 70px;
 }

 .sponsor-section .sponsor-text p{
    margin-top: 15px;
    font-size: 20px;
    font-family: auto;
    color: #6e6e6e
 }

 .sponsor-section .sponsor-icon img{
    padding-left: 165px;
    margin: 40px 0;
 }
 /* sponsor-part-end-here */

 .new-div{
    display: flex;
  
    margin: 50px 0;
 }
 .new-div .part1{
    width: 30%;
    background-color: #e96db4;
    padding: 30px;
   margin: 0 115px;
    box-sizing: border-box;
    /* font-size: 17px; */
    border-radius: 8px;
 }

 .new-div .part-2{
    background-color: #ffc13b;
 }

 #part2{
    background-color: #ffc13b;
    width: 30%;
    text-align: center;
 }

 #part2 .icon{
    margin-top: 10px;
    padding: 15px;
    font-size: 30px;
    background-color: #fff;
    border-radius: 50%;
    color: mediumvioletred;
    transition: .3s;
    cursor: pointer;
   
 }

 #part2 .icon:hover{
    background-color: #e96db4;
    color: beige;
 }

 #part3{
    width: 30%;
    font-size: 20px;
 }
 #part3 button{
    padding: 10px;
    border-radius: 8px;
    background-color: #f39a16;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
 }
 
 
 #part3 .input{
    padding: 5px;
 }


 footer h3{
    background-color: #f39a16;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #2b2a2a;
 }


/* responsive-start-here ...............*/

@media (max-width:450px) {
    
    
    
    .header-section .navbar.active{
        right:  0px;
    }

    .team-banner-img img {   
        width: 30%;
    }

    .team-banner-text h1 {
        font-size: 45px;
    }

    .btn {
        padding: 10px;
        font-size: 17px;
    }

    .feature-text .vr {
        width: 75px;
        height: 5px;
        
    }

    .feature-text {
        margin-left: 0px;
        margin-top: 30px;
    }

    .feature-text h1 {
        margin-top: -33px;
        margin-left: 43px;
        font-size: 24px;    
    }

    .feature-section .experience {
        top: 400px;
        left: 128px;
        padding: 7px;
    }

    .fact-section .fact-1 {
        margin: 40px 0 40px 41px;   
    }

    .fact-section .fact-1 h1 {
        font-size: 30px;
        text-align: justify;
    }

    .fact-section .fact-1 p {
        font-size: 18px;  
        text-align: start;
    }

    .fact-section .fact-2 {
        display: flex;
        margin: 20px 6px 20px 5px;    
    }

    .fact-section .fact-2 .div {
        padding: 7px;
        margin-right: 5px;
    }

    .sponsor-section {
        text-align: start;
    }
    .sponsor-section .sponsor-icon img {
        padding-left: 24px;
        margin: 34px 0;
    }


}

/* mediam screen device......................... */
 @media (max-width:830px) {


    .header-section .logo h1 {
        margin-left: 20px;
        font-size: 35px;
    }

    .header-section .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 35vh;
        width: 250px;
        background-color: rgb(224, 221, 221);
        box-shadow: 0 40px 60px rgba(0, 0, 0,  0.1);
        padding: 40px 0 0 20px;
        transition: .3s;
    }
    
    .header-section .navbar.active{
        right:  0px;
    }
    

    .header-section .navbar li {
        margin-bottom: 25px;
        margin-top: 20px;     
    }

    .mobile {
        font-size: 24px;
        display: flex;
        margin-right: 100px;
        margin-top: 10px;
        cursor: pointer;
    }
    
    #close{
        display: flex;
        position: absolute;
        top: 15px;
        left: 10px;
        font-size: 26px;
        color: #df0000;
    }

    .banner-img img{
        width: 100%;
    }

    /* team-banner-section-start */

    .team-banner-section {
        display: flex;
        flex-direction: column;
    }
    
    .team-banner-img {
        margin-left: 0px;
    }

    .team-banner-img img {
        margin: 18px;
        width: 45%;
    }

    .team-banner-section .team-banner-text {
        margin: 50px 0 0 35px;
        text-align: center;
    }

    .feature-section {
        display: flex;
        margin: 20px;
        flex-direction: column;
    }

    .experience h1 {
        font-size: 30px;
    }

    .feature-section .experience {   
        top: 465px;
        left: 163px;
        width: fit-content;   
        padding: 10px;
        height: 80px;
    }

    .feature-img img{
        width: 100%;
    }


    .fact-section .fact-1 {
        /* margin: 40px 0 40px 130px; */
        text-align: center;
    }

    .fact-section .fact-2 { 
        margin: 20px 0 20px 0px;     
    }

    .fact-section .fact-2 .div i {
        font-size: 25px;     
    }

    .fact-section .fact-2 .div {
        padding: 5px;    
    }

    .sponsor-section .sponsor-text {
        margin: 30px 0;
        text-align: center;
    }
    .sponsor-section .sponsor-icon img {
        padding-left: 75px;
        margin: 40px 0;
    }

    .sponsor-section {
        text-align: start;
    }
    .sponsor-section .sponsor-text h1 {
        font-size: 35px;
        padding-bottom: 0px;
        margin-top: 35px;
    }


    .new-div {
        display: flex;
        flex-direction: column;   
    }

    .new-div .part1 {
        width: 100%; 
        padding: 10px;
        margin: 10px 0px;  
    }

    #part2 {
        width: 100%;   
    }

    #part3 {
        width: 100%;
        text-align: center;
    }
    
}


